@media screen and (min-width: 375px) {
    .container {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        background: #E6E6E6;
        margin-top: 1em;
        padding: 0;
    }

    nav ul {
        display: flex;
        justify-content: space-evenly;

    }

    nav {
        margin-top: 1em;
    }

    header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .cd {
        font-family: 'Abel', sans-serif;
        font-weight: lighter;
        font-size: 54px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    img {
        z-index: 1000;
    }

    /*    display: flex;*/
    /*    justify-content: center;*/
    /*    align-items: center;*/
    /*    height: 105px;*/
    /*    width: 105px;*/
    /*}*/

    .banner {
        display: flex;
        height: 50%;
        width: 100%;
        background: white;
        justify-content: center;
        align-items: center;
    }


   .vdwd {
       font-family: 'Anton', sans-serif;
       text-align: center;
       margin: 1em 0;
       font-size: 64px;

   }

   .utah {
       font-family: 'Anton', sans-serif;
       text-align: center;
       font-size: 48px;
       margin: 1em 0;
   }


   .red {
       height: 150px;
       width:150px;
       background: #E6563B;
       border: .5em solid white;
       color: white;
       border-radius:50%;
       text-align: center;
       display: flex;
       align-items: center;
   }

    .design {
        /*display: flex;*/
        /*justify-content: center;*/
        /*align-self: center;*/
        padding-left: 1.2em;
        font-family: 'Anton', sans-serif;
        font-size: 30px;

    }

    .orange {
        height: 150px;
        width:150px;
        background: #EB9D3A;
        border: .5em solid white;
        color: white;
        border-radius:50%;
        text-align: center;
        display: flex;
        align-items: center;
        margin: 1em;
    }

    .develop {
        padding-left: .9em;
        font-family: 'Anton', sans-serif;
        font-size: 30px;
    }

    .green {
        height: 150px;
        width:150px;
        background: #7CB06C;
        border: .5em solid white;
        color: white;
        border-radius:50%;
        text-align: center;
        display: flex;
        align-items: center;

    }

    .support {
        padding-left: .8em;
        font-family: 'Anton', sans-serif;
        font-size: 30px;
    }

    .blue {
        height: 150px;
        width:150px;
        background: #00ABA9;
        border: .5em solid white;
        color: white;
        border-radius:50%;
        text-align: center;
        display: flex;
        align-items: center;
        margin: 1em;
    }

    .host {
        padding-left: 1.5em;
        font-family: 'Anton', sans-serif;
        font-size: 30px;
    }

    .circles {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }



}





* {
    padding: 0;
    margin: 0;
}

body {
    background: #E6E6E6;
}

ul {
    list-style: none;

}

ul li {
    display: inline;

}

ul li a {
    text-decoration: none;
    color: black;
}

nav {
    font-family: 'Abel', sans-serif;
}
