
    .container {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        background: #F0F0F0;
        margin-top: 1em;
        padding: 0;
    }

    .ads {
        display: none;
    }

    .service, .works, .blog, .contact {
        display: none;
    }

    .mdbanner {
        display: none;
    }

    nav ul {
        display: flex;
        justify-content: center;
    }

    ul li a {
        margin: 0 1.5em;
    }

    nav {
        margin-top: 1em;
    }

    hr {
        display: none;
    }

    header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .cd {
        font-family: 'Abel', sans-serif;
        font-weight: lighter;
        font-size: 54px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    img {
        z-index: 1000;
    }


    .banner {
        display: flex;
        height: 50%;
        width: 100%;
        background: white;
        justify-content: center;
        align-items: center;
    }


   .vdwd {
       font-family: 'Anton', sans-serif;
       text-align: center;
       margin: 1em 0;
       font-size: 64px;

   }

   .utah {
       font-family: 'Anton', sans-serif;
       text-align: center;
       font-size: 48px;
       margin: 1em 0;
   }


   .red {
       height: 150px;
       width:150px;
       background: #E6563B;
       border: .5em solid white;
       color: white;
       border-radius:50%;
       text-align: center;
       display: flex;
       align-items: center;
   }

    .design {
        /*display: flex;*/
        /*justify-content: center;*/
        /*align-self: center;*/
        padding-left: 1.2em;
        font-family: 'Anton', sans-serif;
        font-size: 30px;

    }

    .orange {
        height: 150px;
        width:150px;
        background: #EB9D3A;
        border: .5em solid white;
        color: white;
        border-radius:50%;
        text-align: center;
        display: flex;
        align-items: center;
        margin: 1em;
    }

    .develop {
        padding-left: .9em;
        font-family: 'Anton', sans-serif;
        font-size: 30px;
    }

    .green {
        height: 150px;
        width:150px;
        background: #7CB06C;
        border: .5em solid white;
        color: white;
        border-radius:50%;
        text-align: center;
        display: flex;
        align-items: center;

    }

    .support {
        padding-left: .8em;
        font-family: 'Anton', sans-serif;
        font-size: 30px;
    }

    .blue {
        height: 150px;
        width:150px;
        background: #00ABA9;
        border: .5em solid white;
        color: white;
        border-radius:50%;
        text-align: center;
        display: flex;
        align-items: center;
        margin: 1em;
    }

    .host {
        padding-left: 1.5em;
        font-family: 'Anton', sans-serif;
        font-size: 30px;
    }

    .circles {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    .work {
        text-align: center;
        font-family: 'Abel', sans-serif;
        margin-top: 3.5em;
        margin-bottom: 1.5em;
    }

    .apple-ipad {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 400px;
        border: 1em solid #E6E6E6;
        border-radius: 10px;
        margin-left: 2.5em;
    }

    .macbook {
         display: flex;
         justify-content: center;
         align-items: center;
         height: 100%;
         width: 400px;
         border: 1em solid #E6E6E6;
         border-radius: 10px;
         margin-left: 2.5em;
     }

    .man {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 400px;
        border: 1em solid #E6E6E6;
        border-radius: 10px;
        margin-left: 2.5em;
    }

    .security {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 400px;
        border: 1em solid #E6E6E6;
        border-radius: 10px;
        margin-left: 2.5em;
    }

    .fwork {
        font-family: 'Abel', sans-serif;
        margin-right: auto;
    }

    .lred {
        font-family: 'Anton', sans-serif;
        height: 18px;
        width: 18px;
        font-size: 10px;
        border:1px solid #E6563B;
        border-radius: 50%;
        background: #E6563B;
        color: black;
        margin-top: .5em;
    }

    .ldesign {
        padding-top: .2em;
        display: flex;
        justify-content: center;
        align-content: center;
    }

    .lorange {
        font-family: 'Anton', sans-serif;
        height: 18px;
        width: 18px;
        font-size: 10px;
        border:1px solid #EB9D3A;
        border-radius: 50%;
        background: #EB9D3A;
        color: black;
        margin-left: .5em;
        margin-top: .5em;

    }

    .ldevelop {
        padding-top: .2em;
        display: flex;
        justify-content: center;
        align-content: center;
    }

    .lgreen {
        font-family: 'Anton', sans-serif;
        height: 18px;
        width: 18px;
        font-size: 10px;
        border:1px solid #7CB06C;
        border-radius: 50%;
        background: #7CB06C;
        color: black;
        margin-left: .5em;
        margin-top: .5em;

    }

    .lsupport {
        padding-top: .2em;
        display: flex;
        justify-content: center;
        align-content: center;
    }

    .lblue {
        font-family: 'Anton', sans-serif;
        height: 18px;
        width: 18px;
        font-size: 10px;
        border:1px solid #00ABA9;
        border-radius: 50%;
        background: #00ABA9;
        color: black;
        margin-left: .5em;
        margin-top: .5em;
    }

    .lhost {
        padding-top: .2em;
        display: flex;
        justify-content: center;
        align-content: center;
    }

    .small-circles {
        display: flex;
        margin: .5em 2.5em;
    }


    * {
        padding: 0;
        margin: 0;
    }

    body {
        background: #E6E6E6;
    }

    ul {
        list-style: none;

    }

    ul li {
        display: inline;

    }

    ul li a {
        text-decoration: none;
        color: black;
    }

    nav {
        font-family: 'Abel', sans-serif;
    }


           /* Small start */
    @media screen and (min-width: 768px) {

    nav {
        display: none;
    }

    .mdbanner {
        display: none;
    }

    .ads {
        display: none;
    }

    .banner {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .service, .works {
        display: block;
        text-decoration: none;
        color: black;
        font-family: 'Abel', sans-serif;
    }

    .blog, .contact {
        display: block;
        text-decoration: none;
        color: black;
        font-family: 'Abel', sans-serif;
    }

    .works, .blog {
        margin: 0 2em;
    }

    .vdwd {
        font-size: 50px;
    }

    .utah {
        font-size: 40px;
    }

    .blue {
        margin: 0 .5em;
    }

    .orange {
        margin: 0 .5em;
    }

    hr {
        margin: 1em auto;
        background-color: #CBCBCB;
        border: none;
        height: 2px;
        display: block;
    }

    .small-circles {
        width: 270px;
    }

    .small-circles h1 {
        font-size: 16px;
    }

    .pictures1 {
        display: flex;
        flex-direction: column;
        float: left;
        margin-left:2em;
    }

    .pictures2 {
        display: flex;
        flex-direction: column;
        float: right;
        margin-right: 2em;
    }

    .pictures3 {
        display: flex;
        flex-direction: column;
        float: left;
        clear: left;
        margin-left: 2em;
        margin-top: 2em;
    }

    .pictures4 {
        display: flex;
        flex-direction: column;
        float: right;
        margin-right: 2em;
        margin-top: 2em;
    }

    .pictures img {
        height: 60%;
        width: 250px;
    }

}

          /* medium start */

@media screen and (min-width: 900px) {

    hr {
        width: 90%;
        margin-bottom: 4em;
    }

    .pictures {
        display: grid;
        grid-template-columns: 30% 30%;
        grid-template-rows: 100px 1fr 1fr;

    }

    .pictures img {
        height: 60%;
        width: 250px;
        border: .5em solid #E6E6E6;
        border-radius: 10px;
    }

    .work {
        grid-area: 1/1/2/2;

        margin-right:2em;
        font-size: 18px;
    }

    .pictures1 {
        grid-area: 2/1/3/2;
        margin: 0 2em 0 1em;
    }

    .pictures2 {
        grid-area: 3/1/4/2;
        margin: 0 2em 0 1em;
    }

    .pictures3 {
        grid-area: 2/2/3/3;
        margin: 0 2em;
    }

    .pictures4 {
        grid-area: 3/2/4/3;
        margin: 0 2em;
    }

    .ads {
        /*display: grid;*/
        /*grid-template-columns: 220px;*/
        /*grid-template-rows: 1fr repeat(3, 1fr) 2fr;*/
        /*position: relative;*/
        /*left:650px;*/
        /*bottom: 550px;*/
        font-family: 'Anton', sans-serif;
    }

    .last {
        font-family: 'Abel', sans-serif;
    }

    nav {
        display: none;
    }

    .banner {
        display:none;
    }

    .mdbanner {
        display: grid;
        height: 50%;
        width: 100%;
        background: white;
        /*justify-content: center;*/
        /*align-items: center;*/
        grid-template-columns:repeat(4, 1fr);
        grid-template-rows: 1fr;
    }

    .cd {
        display: none;
    }

    .cd2 {
        font-family: 'Abel', sans-serif;
        font-size: 30px;
        grid-area: 1 / 1 / 2 / 2;
        /*display: flex;*/
        /*justify-content: center;*/
        position: relative;
        left: 160px;
        top: 8px;

    }

    .logo {
        /*margin-right: 250px;*/
        grid-area: 1 / 1 / 2 / 2;
        display: flex;
        position: relative;
        bottom: 20px;
        left: 40px;


    }

    .service {
        grid-area: 1 / 3 / 2 / 4;
        position: relative;
        top: 13px;
        left: 50px;
    }

    .works {
        grid-area: 1 / 3 / 2/ 4;
        position: relative;
        top: 13px;
        left: 135px;
    }

    .blog {
        grid-area: 1 / 4 / 2 / 5;
        position: relative;
        top: 13px;
    }

    .contact {
        grid-area: 1 / 4 / 2 / 5;
        position: relative;
        top: 13px;
        left:130px;
    }

    .mdbanner {
        font-size: 20px;
    }

    .ads img {
        height: 50px;
        width: 50px;
    }

    .small-circles {
        width: 270px;
    }

    .small-circles h1 {
        font-size: 14px;
    }

    .ipad {
        display: flex;

    }

    .mobile {
        display: flex;
    }

    .head {
        display: flex;
    }

    .twitter {
        font-family: 'Abel', sans-serif;
    }

    .ads p {
        margin-left: 10px;
    }


}


@media screen and (min-width: 1400px) {

    body {
        background-color: #F0F0F0;
    }

    .container {
        max-width: 960px;
        margin: 1em auto 0 auto;
    }

    .mdbanner {
        display: grid;
        grid-template-columns:repeat(4, 1fr);
        grid-template-rows: 1fr;
        position: absolute;
        top: 20px;
        margin-top: .5em;
        height: 7%;
        width: 100%;
        font-size: 18px;

    }

    .logo {
        z-index: 1000;
        position: relative;
        left: 470px;
    }
    .cd2 {
        font-family: 'Abel', sans-serif;
        font-size: 30px;
        grid-area: 1 / 1 / 2 / 2;
        /*display: flex;*/
        /*justify-content: center;*/
        position: relative;
        left: 600px;
        top: 15px;
    }

    .service {
        grid-area: 1 / 3 / 2 / 4;
        position: relative;
        top: 20px;
        left: 180px;
    }

    .works {
        grid-area: 1 / 3 / 2/ 4;
        position: relative;
        top: 20px;
        left: 240px;
    }

    .blog {
        grid-area: 1 / 4 / 2 / 5;
        position: relative;
        top: 20px;
        right: 100px;
    }

    .contact {
        grid-area: 1 / 4 / 2 / 5;
        position: relative;
        top: 20px;
        left: 7px;
    }



    .vdwd {
        margin-top: 3em;
    }


}
